@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

html {
  width: 100%;
  height: 100%;
  background-color: #F6E6C8;
}

#animation1 img, #animation2 img {
  display: none;
}
#animation1 img:first-child, #animation2 img:first-child {
  display: block;
}

@keyframes upToDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes DownToUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

.ant-picker-focused.ant-picker {
  border-color: white !important;
  box-shadow: none !important;
  outline: 0;
}

.ant-picker .ant-picker-input >input {
  font-size: 16px !important;
  font-weight: 600 !important;
  letter-spacing: 0.05em;
}

.ant-picker{
  background: transparent !important;
}

@media (max-width: 321px) {
  .ant-picker-dropdown {
    inset: 0 !important;
  }
}

#wish {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#maps {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  25% {transform: rotate(-25deg);}
  50% {transform: rotate(25deg);}
}