@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f3e4c8;
}

#animation img {
  display: none;
}
#animation img:first-child {
  display: block;
}

@media (min-height: 431px) {
  #logo {
    width: 200px;
    margin-bottom: 0px;
  }
  #animation {
    display: block;
  }
  .cloud {
    display: block;
  }
}
